# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
AWS_RAW_PREFIX=
AWS_PROCESSED_PREFIX=
AWS_REGION=

# Api
BASE_URL=
END_POINT=

# File Paths
LOG_FILE_PATH=
PROCESSED_CSV_FILE_PATH=
RAW_JSON_FILE_PATH=